{{ attach_library('academic_dates/academic_dates') }}
<div class="academic-dates">
  <div class="academic-dates-year">
    <h2>{{ content.field_academic_date_year }}</h2>
  </div>

  {{ content.field_academic_date_details }}

  <div class="academic-dates-type">
    {{ content.field_academic_date_type }}
  </div>
</div>